{% extends 'view/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
    {% if (admin) %}
        {{ encore_entry_link_tags('visual_admin') }}
    {% endif %}
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/beon" type="text/css"/> 
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/hi" type="text/css"/> 
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/exo-2" type="text/css"/> 
{% endblock %}
{% block body %}
{{ parent() }}
<header>
    <nav class="neonText wrapper hidden">
        <ul>
            <li><a href="{{ path('home', {'_fragment': 'home'}) }}">Skills</a></li>
            <li><a href="{{ path('home', {'_fragment': 'curriculum'}) }}">Course</a></li>
            <li><a href="{{ path('home', {'_fragment': 'experiences'}) }}">Experiences</a></li>
            <li><a href="{{ path('home', {'_fragment': 'realisations'}) }}">Realisations</a></li>
            <li><a href="{{ path('home', {'_fragment': 'contact'}) }}">Contact</a></li>
        </ul>
    </nav>
</header>
<main>
    <section id="presentation" class="wrapper">
        <div class="neonBox neonText contentBox" data-content-id="{{ contentModel.cv_header[0].id }}">
            <h1>{{ contentModel.cv_header[0].content.title }}</h1>
            <p>{{ contentModel.cv_header[0].content.subtitle }}</p>
        </div>
    </section>
    <section class="resume">
        <section id="skills" class="fullHeight wrapper">
            <h2>Skills</h2>
            <div class="flex-big">
                <article class="item" id="web">
                    <h3>Web</h3>
                    <ul>
                        {% for item in contentModel.skill %}
                            {% if item.content.section == 'web' %}
                                <li class="contentBox" data-content-id="{{ item.id }}">
                                    {{ item.content.name }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </article>
                <article class="item" id="web">
                    <h3>Technical</h3>
                    <ul>
                        {% for item in contentModel.skill %}
                            {% if item.content.section == 'technical' %}
                                <li class="contentBox" data-content-id="{{ item.id }}">
                                    {{ item.content.name }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </article>
                <article class="item" id="web">
                    <h3>Other</h3>
                    <ul>
                        {% for item in contentModel.skill %}
                            {% if item.content.section == 'other' %}
                                <li class="contentBox" data-content-id="{{ item.id }}">
                                    {{ item.content.name }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </article>
            </div>
        </section>
        <section id="curriculum" class="fullHeight wrapper">
            <h2>Training</h2>
            <div class="flex-big">
                {% for training in contentModel.training|sort((a, b) => a.content.year <= b.content.year)  %}
                    <article class="item contentBox" data-content-id="{{ training.id }}">
                        <h3>{{ training.content.year }}</h3>
                        <p><strong>{{ training.content.name }}</strong></p>
                        <p><em>{{ training.content.place }}</em></p>
                        <p>{{ training.content.description }}</p>
                    </article>
                {% endfor %}
            </div>
        </section>
        <section id="experiences" class="fullHeight wrapper">
            <h2>Experiences</h2>
            <div class="flex-big">
                {% for experience in contentModel.experience|sort((a, b) => a.content.year_end <= b.content.year_end) %}
                    <article class="item contentBox" data-content-id="{{ experience.id }}">
                        <h3>
                            {{ experience.content.year_start }}{% if experience.content.year_end %}-{{ experience.content.year_end }} {% endif %}
                        </h3>
                        <p><strong>{{ experience.content.name }}</strong></p>
                        <p><em>{{ experience.content.place }}</em></p>
                        <p>{{ experience.content.description }}</p>
                    </article>
                {% endfor %}
            </div>
        </section>
        <section id="realisations" class="fullHeight wrapper">
            <h2>Realisations</h2>
            <div class="flex-big">
                {% for realisation in contentModel.realisation %}
                    <article class="item contentBox" data-content-id="{{ realisation.id }}">
                        <h3>{{ realisation.content.name }}</h3>
                        <p><em>{{ realisation.content.year }}</em></p>
                        <p>{{ realisation.content.description }}</p>
                    </article>
                {% endfor %}
            </div>
        </section>
        <section id="contact" class="fullHeight wrapper">
            <h2>Contact</h2>
            <article>
                <img class="profile" src="{{ asset('build/P1060516_crop.JPG') }}" alt="Xavier Laviron" title="Xavier Laviron">
            </article>
        </section>
    </section>
</main>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
