{% extends 'view/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/beon" type="text/css"/> 
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/hi" type="text/css"/> 
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/exo-2" type="text/css"/> 
{% endblock %}
{% block body %}
{{ parent() }}
<header>
    <nav class="neonText wrapper hidden">
        <ul>
            <li><a href="{{ path('home', {'_fragment': 'home'}) }}">Skills</a></li>
            <li><a href="{{ path('home', {'_fragment': 'curriculum'}) }}">Course</a></li>
            <li><a href="{{ path('home', {'_fragment': 'experiences'}) }}">Experiences</a></li>
            <li><a href="{{ path('home', {'_fragment': 'realisations'}) }}">Realisations</a></li>
            <li><a href="{{ path('home', {'_fragment': 'contact'}) }}">Contact</a></li>
        </ul>
    </nav>
</header>
<main>
    <section id="presentation" class="wrapper">
        <div class="neonBox neonText">
            <h1>{{ viewModel.cv_header[0].title }}</h1>
            <p>{{ viewModel.cv_header[0].subtitle }}</p>
        </div>
    </section>
    <section class="resume">
        <section id="skills" class="fullHeight wrapper">
            <h2>Skills</h2>
            <div class="flex-big">
                <article class="item" id="web">
                    <h3>Web</h3>
                    <ul>
                        {% for item in viewModel.skill %}
                            {% if item.section == 'web' %}
                                <li>{{ item.name }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </article>
                <article class="item" id="web">
                    <h3>Technical</h3>
                    <ul>
                        {% for item in viewModel.skill %}
                            {% if item.section == 'technical' %}
                                <li>{{ item.name }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </article>
                <article class="item" id="web">
                    <h3>Other</h3>
                    <ul>
                        {% for item in viewModel.skill %}
                            {% if item.section == 'other' %}
                                <li>{{ item.name }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </article>
            </div>
        </section>
        <section id="curriculum" class="fullHeight wrapper">
            <h2>Training</h2>
            <div class="flex-big">
                {% for training in viewModel.training|sort((a, b) => a.year <= b.year)  %}
                    <article class="item">
                        <h3>{{ training.year }}</h3>
                        <p><strong>{{ training.name }}</strong></p>
                        <p><em>{{ training.place }}</em></p>
                        <p>{{ training.description }}</p>
                    </article>
                {% endfor %}
            </div>
        </section>
        <section id="experiences" class="fullHeight wrapper">
            <h2>Experiences</h2>
            <div class="flex-big">
                {% for experience in viewModel.experience|sort((a, b) => a.year_end <= b.year_end) %}
                    <article class="item">
                        <h3>
                            {{ experience.year_start }}{% if experience.year_end %}-{{ experience.year_end }} {% endif %}
                        </h3>
                        <p><strong>{{ experience.name }}</strong></p>
                        <p><em>{{ experience.place }}</em></p>
                        <p>{{ experience.description }}</p>
                    </article>
                {% endfor %}
            </div>
        </section>
        <section id="realisations" class="fullHeight wrapper">
            <h2>Realisations</h2>
            <div class="flex-big">
                {% for realisation in viewModel.realisation %}
                    <article class="item">
                        <h3>{{ realisation.name }}</h3>
                        <p><em>{{ realisation.year }}</em></p>
                        <p>{{ realisation.description }}</p>
                    </article>
                {% endfor %}
            </div>
        </section>
        <section id="contact" class="fullHeight wrapper">
            <h2>Contact</h2>
            <article>
                <img class="profile" src="{{ asset('build/P1060516_crop.JPG') }}" alt="Xavier Laviron" title="Xavier Laviron">
            </article>
        </section>
    </section>
</main>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
