{% extends 'content/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/beon" type="text/css"/> 
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/hi" type="text/css"/> 
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/exo-2" type="text/css"/> 
{% endblock %}
{% block body %}
{{ parent() }}
<header>
    <nav class="neonText wrapper hidden">
        <ul>
            <li><a href="{{ path('home', {'_fragment': 'home'}) }}">Skills</a></li>
            <li><a href="{{ path('home', {'_fragment': 'curriculum'}) }}">Course</a></li>
            <li><a href="{{ path('home', {'_fragment': 'experiences'}) }}">Experiences</a></li>
            <li><a href="{{ path('home', {'_fragment': 'realisations'}) }}">Realisations</a></li>
            <li><a href="{{ path('home', {'_fragment': 'contact'}) }}">Contact</a></li>
        </ul>
    </nav>
</header>
<main>
    <section id="presentation" class="wrapper">
        <div class="neonBox neonText">
            <h1>{{ content.content.title }}</h1>
            <p>{{ content.content.subtitle }}</p>
        </div>
    </section>
    <section class="resume">
        <section id="skills" class="fullHeight wrapper">
            <h2>Skills</h2>
            <div class="flex-big">
                {% for skill, list in resume.skills %}
                    <article class="item" id="web">
                        <h3>{{ skill }}</h3>
                        {% for item in list %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </article>
                {% endfor %}
            </div>
        </section>
        <section id="curriculum" class="fullHeight wrapper">
            <h2>Training</h2>
            <div class="flex-big">
                {% for training in resume.training %}
                    <article class="item">
                        <h3>{{ training.date }}</h3>
                        <p><strong>{{ training.title }}</strong></p>
                        <p><em>{{ training.place }}</em></p>
                        <p>{{ training.content }}</p>
                    </article>
                {% endfor %}
            </div>
        </section>
        <section id="experiences" class="fullHeight wrapper">
            <h2>Experiences</h2>
            <div class="flex-big">
                {% for experience in resume.experiences %}
                    <article class="item">
                        <h3>{{ experience.date }}</h3>
                        <p><strong>{{ experience.title }}</strong></p>
                        <p><em>{{ experience.place }}</em></p>
                        <p>{{ experience.content }}</p>
                    </article>
                {% endfor %}
            </div>
        </section>
        <section id="realisations" class="fullHeight wrapper">
            <h2>Realisations</h2>
            <div class="flex-big">
                {% for realisation in resume.realisations %}
                    <article class="item">
                        <h3>{{ realisation.title }}</h3>
                        <p><em>{{ realisation.title }}</em></p>
                        <p>{{ realisation.content }}</p>
                    </article>
                {% endfor %}
            </div>
        </section>
        <section id="contact" class="fullHeight wrapper">
            <h2>Contact</h2>
            <article>
                <img class="profile" src="{{ asset('build/P1060516_crop.JPG') }}" alt="Xavier Laviron" title="Xavier Laviron">
                <p>{{ resume.contact.mail }}</p>
            </article>
        </section>
    </section>
</main>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
