{% extends 'admin/base.html.twig' %}

{% block body %}
    <main
        data-user-email="{{ app.user.email }}"
        data-site-name="{{ siteName }}"
    >
    <div id="adminBar">
        <div class="leftBar">
            <img id="siteLogo" class="logo" src="" text="Website logo" alt="Website logo">
            <span id="siteName">{{ siteName }}</span>
            <span id="notificationBar">Notification bar</span>
        </div>
        <div class="rightBar">
            <a id="userName" href="#">{{ app.user.email }}</a>
            <ul class="userLinks">
                <li><a id="userSettings" href="#">User Settings</a></li>
                <li><a id="logout" href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
    <div class="adminFlexContainer">
        <nav id="admin-menu">
            <ul>
                <li><a class="currentMenuEntry" href="#" id="home" data-action="homepage">Home</a></li>
                <li><a href="#" id="views" data-action="views-home">Views</a></li>
                <li><a href="#" id="content" data-action="content-home">Content</a></li>
                <li><a href="#" id="assets" data-action="assets-home">Assets</a></li>
                <li><a href="#" id="users" data-action="users-home">Users</a></li>
                <li><a href="#" id="stats" data-action="stats-home">Stats</a></li>
            </ul>
        </nav>
        <div id="admin-panel">
            <div id="help-panel" class="help hidden">
                <ul id="help-items" class="helpItems">
                    <li>
                        <a class="helpSection current" href="#" data-help-section="overview">
                            Overview
                        </a>
                    </li>
                    <li>
                        <a class="helpSection" href="#" data-help-section="details">
                            Details
                        </a>
                    </li>
                </ul>
                <div id="help-content" class="helpContent">
                    <div class="current" data-for="overview">
                        <p>Overview content. Dolor ea tempore eius vel exercitationem quam. Voluptates nobis dolor distinctio voluptatem molestias? Quos iste reprehenderit quis omnis debitis! Molestiae atque aliquam corporis debitis eum facere odio Consectetur ea quam</p>
                    </div>
                    <div data-for="details">
                        <p>Details content. Dolor ea tempore eius vel exercitationem quam. Voluptates nobis dolor distinctio voluptatem molestias? Quos iste reprehenderit quis omnis debitis! Molestiae atque aliquam corporis debitis eum facere odio Consectetur ea quam</p>
                    </div>
                </div>
            </div>
            <div class="toggleHelp">
                <a id="toggle-help" href="#">Help</a>
            </div>
            <div id="admin-main">
                <!-- {{ include('mockups/admin_view.html.twig') }} -->
                <!-- {{ include('mockups/admin_new_view.html.twig') }} -->
                {{ include('mockups/admin_content_home.html.twig') }}
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}
